<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            cursor: url("cursor4.png"), auto;    
            color:black;
            margin: 0px;
            margin-top:70px;
            text-decoration: none;
            background:seagreen;
            background-attachment: fixed;
            background-size: cover;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .nevi {

            position: fixed;
            top:0px;
            background-color:cadetblue;
            height:60px;
            width: 100%;
         

        }
        .nevi ul{


            float: right;
        }
        .nevi ul li{
            text-align: center;
            display: inline-block;
            margin: 5px;
            margin-right: 20px;
            
            background-color: cadetblue;
            height: 20px;
            width: 150px;
        }
        .nevi ul li:hover {
            transform-origin: center;
            transition: 0.5s;
            height: 50px;
            color: white;
        }
        .nevi ul li:hover a {
            transform-origin: center;
            transition: 0.5s;
            color: white;
            cursor: url("cursor5.png"), auto; 

         
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color:black;

        }
        .logo{
            border-radius: 5%;
            height:50px;
            width: 100px;
        }
        .logotext{
            position: absolute;
            left: 105px;
            top: -2px;
            color:white;
        }
        .detailsBox {
            margin-left: 28%;
            width: 45%;
            background-color: white;
            padding: 20px;
        }
        .detailsBox:hover{
            box-shadow: 5px 10px 18px black;
            transition: 2s;
        }
        .title {
            color:coral;
            border-style: solid;
            border-radius: 20px;
            border-width: 2px;
            border-color: cornflowerblue;
            margin-bottom: 20px;
            text-align: center;

            
        }
        .price {
            text-align: center;
        }
        button{
            height: 40px;
            width: 100px;
            background-color: crimson;
            border: none;
            border-radius: 5px;
            color: white;
        }
        button:hover{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            transition: 0.5s;
            color: black;
            cursor: url("cursor5.png"), auto; 
        }
    </style>
    
    <title></title>
</head>
<body>
    <div class="nevi">
        <img class="logo" src="craftnepal.png"><div class="logotext"><h2>Hamro Dokan</h2></div>
          <ul>
               <li><a href="/">HOME</a></li>
               <li><a href="/products">Products</a></li>
               <li><a href="/cart">Cart</a></li>
               <li><a href="/orders">Orders</a></li>


               <li><a href="/addproduct">Add Pruduct</a></li>
               <li><a href="/adminproduct">Admin Products</a></li>

           </ul>
       </div>
      <div class="detailsBox">
            <div class="title">
                <h1><%= product.title %></h1>
            </div>
            <div class="productImage">
                <img src="<%= product.imageUrl %>" height="500px" width="500px">

            </div>
            <div class="desc">
                Description:<hr>
                <%= product.description %>

            </div>
            <br>
            <br>
            <div class="price">
                <form method="POST" action="/cart">
              <button>Buy at Rs.<%= product.price %> </button></div>
              <input type="hidden" name="productId" value="<%= product.id %>">

                </form>
            </div>




       </div> 
</body>
</html>