<!DOCTYPE html>
<html lang="en">
<head>
    <style>
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0); 
}
        html {
            scroll-behavior: smooth;

        }
        body{
            color:black;
            margin: 0px;
            margin-top:70px;
            text-decoration: none;
            background-color:#269;
            background-image: linear-gradient(white 2px, transparent 2px),
            linear-gradient(90deg, white 2px, transparent 2px),
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
			font-family: Arial, Helvetica, sans-serif;
        }
        body{
            background-color:#269;
            background-image: linear-gradient(white 2px, transparent 2px),
            linear-gradient(90deg, white 2px, transparent 2px),
            linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
            color:black;
            margin: 0px;
            margin-top:70px;
            text-decoration: none;
            background-attachment: fixed;
        }
        .nevi {

            position: fixed;
            top:0px;
            background-color:black;
            height:60px;
            width: 100%;
            z-index: 1000;
            color: white;

        }
        .nevi ul{


            float: right;
        }
        .nevi ul li{
            text-align: center;
            display: inline-block;
            margin: 5px;
            margin-right: 20px;
            
            background-color: black;
            height: 20px;
            width: 150px;
            color: white;
        }
        .nevi ul li:hover {
            transform-origin: center;
            transition: 0.2s;
            height: 50px;
            color: white;
        }
        .nevi ul li:hover a {
            transform-origin: center;
            transition: 0.2s;
            color: orange;

         
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color: white;

        }
        .logo{
            border-radius: 5%;
            height:50px;
            width: 100px;
        }
        .logotext{
            position: absolute;
            left: 105px;
            top: -2px;
            color:white;
        }
        .product{
				margin: 0px;
				height: 300px;
				width: 300px;
				background: cyan;
				margin-top: 50px;
                margin-left: 20px;
    			padding: 0px;
    			transition: 0.7s;
    			overflow: hidden;
    			box-shadow: 4px 3px 10px black;
    			float: left;
                animation: onload 1s;
    			


			}
            @keyframes onload{
				from{
					transform: translateY(-20px);
				}
				to{
					transform: translateY(0px);
				}

			}
			.product:hover {
				transform: translateY(-10px);
				transition: 0.2s;
			}
			.text::before{
				visibility: hidden;
				order: 1;
				z-index: 1;
				color: black;




			}
			.product:hover .text{
				visibility: visible;
				background-color: cyan;
				transform: translateY(-300px);
				transition: 0.7s ease-in;
				height: 300px;


			}
			.image{
				height: 100%;
				width: 100%;
				margin:0px;
				padding: 0px;
				background: black;

				


			}
			.product:hover .image{
				transform: translateY(-300px);
				transition: 0.7s ease-in-out;
			}
			.desc{
				height: 200px;
				margin-top: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;


			}
			button{
				height: 30px;
				width: 100px;
				border: none;
				background-color: crimson;
				font-size: medium;
				margin-left: 20px;

			}
			button:hover{
				background-color: white;
				border-style: solid;
				border-width: 2px;
				transition: 0.2s ease-in-out;

			}
			.title{
				color:white;
				font-style: large;
				margin-top: -50px;

				height: 60px;
				width: 100%;
				background-image: linear-gradient(to top, rgb(0,255,255), rgba(0,0,255,0));
			}
        .background{
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: rgba(0,0,0,0.6);
            z-index: -10;
        }

      
    </style>
    
    <title>my node.js</title>
</head>
<body>
    <div class="background"></div>


    <div class="nevi">
        <img class="logo" src="craftnepal.png"><div class="logotext"><h2>Hamro Dokan</h2></div>
          <ul>
               <li><a href="/">HOME</a></li>
               <li><a href="/products">Products</a></li>
               <li><a href="/cart">Cart</a></li>



               <li><a href="/addproduct">Add Pruduct</a></li>
               <li><a href="/adminproduct">Admin Products</a></li>

           </ul>
       </div>

   
    <% if(prods.length > 0) { %>
        <% for(let product of prods){ %>
            <div class="product">
		        <div class="image">
					<img src="<%= product.imageUrl%>" height="100%" width="100%">
					
					<h2 class="title"><%= product.title%></h2>

					
				</div>
				<div class="text">

					<div class="desc">
						<h2 style="color: black; margin-left: 20px;"><%= product.title%></h2>
						<p style="color: black; margin:20px; overflow: hidden;">
                        <%= product.description %>
                        </p>
					</div>
						
						<p style="color:green; margin-left: 20px; font-weight: bold;">Rs.<%= product.price%></p>
						
						<a href="/products/<%= product.id%>"><button>Read More</button></a>

				</div>
            </div>


                    <!-- <div class="products" id="products">
                        <center>
                         <img src="<%= product.image%>" class="product-img" width="90%" height="200px">
                        
                        </center>
                        <div class="product-info">
                            <img src="<%= product.image%>" width="100%" height="100%">

                             <div class="product-info2"> <h2 class="title"><%= product.title %>
                                <a href="/products/<%= product.id%>"><button class="details">➤</button></a>
                            </h2> 
                            <h3 style="color: green; margin-left:10px;">Rs.<%= product.price %></h3>
                             <h5 class="desc"> <%= product.desc %></h5>
                                </div>



                        
                        </div> -->
                        



                            <!-- <center>
                            <img src="<%= product.image%>" class="product-img" height="150px" width="150px">
                            <div class="product-info">
                                <h2><%= product.title %></h2> 
                                <h5>
                                    <%= product.desc %>
                                </h5>
                            </div>
                            <a href="/products/<%= product.id%>"><button class="details">Details</button></a><br><br>
                            <form method="POST" action="/cart">
                                <input type="hidden" name="productId" value="<%= product.id %>">

                            <centre><button class="buy">Buy at <%= product.price %></button></centre>
                               </form> 
                        </center> -->
                    
                    

         


                    <% } %>

    <% } else { %>
    <h1>
        Product not found!
    </h1>
    <% } %>
    <!-- <div class="overlay" id="popup1">
        <center><div class="popup">
            <h3 style="color:greenyellow">Success!</h3>		
            <div class="popup-content">
                <h3 style="color: teal">Bought Successfully!✔
                <h3>
                <br>
                <p><h3>Please visit us again!</h3></p>
                <a style="font-size: larger;" class="close" href="/">✘[close]</a>


            </div>
        </div>
        </center>
    </div> -->
   

    
</body>
</html>